body {
    font-family: Arial;
    background-color: #f0f8ff;
    text-align: center;
}

.container {
    width: 70%;
    margin: auto;
}

h1 {
    color: green;
}

input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.results {
    margin-top: 20px;
    text-align: left;
}

.scheme-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

.chat-toggle-btn {
    background-color: blue;
}

.chat-section {
    display: none;   /* hidden initially */
    margin-top: 20px;
}

#chatBox {
    border: 1px solid gray;
    height: 250px;
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
    background: white;
    text-align: left;
}